* {
    box-sizing: border-box;
}

body { 
    --transition-delay: 0.5s;
    --text-color: #154c79;
    --background-color: white;
    --button-text-color: var(--background-color);
    --button-background-color: orangered;


    font-family: 'Source Sans Pro';
    background-color: var(--background-color);
    color: var(--text-color);
    transition: var(--transition-delay);
    /* color: #8dd9bf; */
}

/* Light/Dark Mode */

body.dark {
    --button-text-color: white;
    --background-color: black;
    --text-color: white;
    --button-background-color: #d0d066
}


.sun, .moon {
    font-size: 45px;
}

.theme {
    margin: .5em;
    display: flex;
    color: var(--theme-color);
    position: fixed;
    top: 0;
    right: 0;
}

.toggle-theme-button { 
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: .3em;
    padding: 1em;
    transition: var(--transition-delay);
    transform: scale(1);
}
.toggle-theme-button:hover, .toggle-theme-button:focus {
    transform: scale(1.1);
}



.mainContent {
    /* background-color: #363a3f; */
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.headerCenter { 
    margin-right: 2px;

}
.socialMedia { 
    margin: 2px;
}
.header__right { 
    border-radius: 6px;
    opacity: 1;
}

.socialMedia > a:hover {
    opacity: .5;
}
.header__right:hover {
    opacity: .5;
}

.avatar { 
    vertical-align: middle;
    width: 50px;  
    height: 50px;
    border-radius: 50%;
}

.intro {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.projectShowcase {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* height: auto; */
    align-items: center;
    background-color: #718790;
    border-radius: 8px;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px;
    /* color: #20CB3E; */
}

.projects {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    /* border: blue 5px solid; */
}

.projectItem { 
    display: flex;
    flex-direction: column;
    flex-wrap: row wrap;
    max-height: 100%;
    /* border: black 2px solid; */
    /* display: flex; */
    padding: 5px;
    flex: .33;
    justify-content: flex-start;
    align-items: center;
}
.projects img { 
    max-width: 250px;
    border-radius: 8px;
    align-self: stretch;
}

p { 
    justify-content: center;
    font-size:1.2rem;
}

.projectItem h2 {
    height: auto;
}

.fa-file {
    
}